.sec_contacts {
    background: #edf2ec;
    height: 550px;
}

.container_contacts {
    display: flex;
    justify-content: space-around;
}

.text_contact_us {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    color: #499a18;
}

.img_woman {
    margin-top: 45px;
}

.contact_city {
    width: 450px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #d6e7d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
}

.text_city {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    letter-spacing: 0.05em;
    color: #717171;
    padding-left: 20px;
}

.contact_arrow {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;
}

@media screen and (max-width: 768px) {
    .container_contacts {
        flex-direction: column;
        align-items: center;
    }

    .img_woman {
        width: 200px;
        height: 248px;
        order: 0;
    }

    .contact_city {
        order: -1;
        margin-top: 0px
    }

    .text_contact_us {
        order: -2;
    }
}

@media screen and (max-width: 455px) {
    .contact_city {
        width: 300px;
    }
}

@media screen and (max-width: 380px) {
    .text_contact_us {
        font-size: 25px;
    }
}