.sec_service {
    background: #edf2ec;
    padding: 38px 0 121px 0;
}

.div-cont {
    width: 306px;
    height: 94px;
}

.text-service {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: #499a18;
    margin: 0px;
}

.service-buttons {
    display: flex;
    align-items: center;
    gap: 38px;
}

.imgContainer {
    margin-bottom: 55px;
}

.service-buttons button {
    border: 1px solid #e06733;
    border-radius: 5px;
    width: 161px;
    height: 50px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: #e06733;
}

.service-content {
    display: flex;
    margin-bottom: 90px;
    flex-wrap: wrap;
    row-gap: 40px;
}

.service-img-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.items-div {
    border: 1px solid #e3e1d5;
    border-radius: 0 0 20px 20px;
    width: 330px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.items-span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: #e06733;
}

.items-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #717171;
    margin: 10px 0 36px 0;
}


@media screen and (max-width: 781px) {
    .service-img-1 {
        justify-content: center;
    }
}

@media screen and (max-width: 601px) {
    .service-buttons {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 380px) {
    .div-cont {
        font-size: 25px;
    }

    .service-img-1 {
        gap: 34px;
    }

    .service_img {
        width: 100%;
    }

    .items-div {
        width: 280px;
    }

    .imgContainer {
        margin-bottom: 0px;
        width: 280px;
    }
}